<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap demo</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/public/styles/global.css">
</head>

<body>
  <!-- navbar -->
  <nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container col-md-6 col-12">
      <a class="navbar-brand" href="#">Twitter 2.0</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

  <!-- Profile -->
  <div class="blogs">
  <div class="card text-bg-dark col-md-4 col-10 mb-2">
    <!-- Blog User -->
    <div class="card-header position-relative d-flex">
      <!-- User name and image -->
      <div style="width: 50%;">
        <img src="/public/imgs/photo_2022-03-14_08-41-51.jpg" class="rounded-circle mr-2" alt="User Profile"
          style="width: 90px; height: 90px;">
        <h5 class="ms-2">Vladislavs</h5>
      </div>
      <!-- blog settings -->
      <div class="position-absolute end-0">
        <div class="dropdown">
          <button class="btn text-bg-dark" data-bs-toggle="dropdown">
            <i class="bi bi-three-dots"></i>
          </button>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item" href="#">Subscribe to Vladislavs</a></li>
            <li><a class="dropdown-item" href="#">View post</a></li>
            <li><a class="dropdown-item" href="#">Edit post</a></li>
            <li><a class="dropdown-item text-danger" href="#">Delete post</a></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Blog text -->
    <div class="card-body">
      <p class="card-text">Profile description</p>
    </div>

    <!-- Blog Post End -->
    <div class="card-footer">
      <!-- Like Icon -->
      <button href="#" class="btn text-bg-dark text-danger">
        <i class="bi bi-heart-fill"></i>123332
      </button>
      <!-- Views Icon -->
      <a href="#" class="btn text-bg-dark text-info">
        <i class="bi bi-eye-fill"></i>123123
      </a>
      <!-- Comments Icon -->
      <a href="#" class="btn text-bg-dark">
        <i class="bi bi-chat-dots-fill"></i>123321
      </a>
    </div>
  </div>
</div>


  <!-- Blogs container -->
  <div class="blogs">
    <!-- Blog Post Start -->
    <div class="card text-bg-dark col-md-4 col-10 mb-2">
      <!-- Blog User -->
      <div class="card-header position-relative d-flex">
        <!-- User name and image -->
        <div class="d-flex align-items-center" style="width: 50%;">
          <img src="/public/imgs/photo_2022-03-14_08-41-51.jpg" class="rounded-circle mr-2" alt="User Profile"
            style="width: 40px; height: 40px;">
          <h5 class="ms-2">Vladislavs</h5>
        </div>
        <!-- blog settings -->
        <div class="position-absolute end-0">
          <div class="dropdown">
            <button class="btn text-bg-dark" data-bs-toggle="dropdown">
              <i class="bi bi-three-dots"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="#">Subscribe to Vladislavs</a></li>
              <li><a class="dropdown-item" href="#">View post</a></li>
              <li><a class="dropdown-item" href="#">Edit post</a></li>
              <li><a class="dropdown-item text-danger" href="#">Delete post</a></li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Blog text -->
      <div class="card-body">
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This content is a little bit longer.</p>
        <p class="card-text"><small>Last updated 3 mins ago</small></p>
      </div>


      <!-- Post Image -->
      <div class="row card-body image-container" data-bs-toggle="modal" data-bs-target="#imageCarouselModal">
        <img loading="lazy" src="/public/imgs/Screenshot_1.png" class="col-6" alt="Image 1" style="cursor: pointer;">
        <img loading="lazy" src="/public/imgs/Screenshot_1.png" class="col-6" alt="Image 2" style="cursor: pointer;">
        <img loading="lazy" src="/public/imgs/WitcherMap_8k_borders.jpg" class="col-6" alt="Image 2"
          style="cursor: pointer;">
        <div class="col-6 position-relative">
          <div class="overlay image-crop-container"><span class="image-num">+4</span></div>
          <img class="col-12" src="/public/imgs/WitcherMap_8k_borders.jpg" alt="">
        </div>
      </div>


      <!-- Blog Post End -->
      <div class="card-footer">
        <!-- Like Icon -->
        <button href="#" class="btn text-bg-dark text-danger">
          <i class="bi bi-heart-fill"></i>123332
        </button>
        <!-- Views Icon -->
        <a href="#" class="btn text-bg-dark text-info">
          <i class="bi bi-eye-fill"></i>123123
        </a>
        <!-- Comments Icon -->
        <a href="#" class="btn text-bg-dark">
          <i class="bi bi-chat-dots-fill"></i>123321
        </a>
      </div>
    </div>

  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</html>