<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap demo</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/public/styles/global.css">
</head>

<body>
  <!-- Profile -->
  <div class="blogs">
    <div class="card text-bg-dark col-md-4 col-10 mb-2">
      <!-- Blog User -->
      <div class="card-header position-relative d-flex">
        <!-- User name and image -->
        <div style="width: 50%;">
          <img src="/public/imgs/photo_2022-03-14_08-41-51.jpg" class="rounded-circle mr-2" alt="User Profile"
            style="width: 90px; height: 90px;">
          <h5 class="mt-2">Vladislavs</h5>
        </div>
        <!-- blog settings -->
        <div class="position-absolute end-0">
          <div class="dropdown">
            <button class="btn text-bg-dark" data-bs-toggle="dropdown">
              <i class="bi bi-three-dots"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="#">Edit profile</a></li>
              <li><a class="dropdown-item" href="#">Settings</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Profile description -->
      <div class="card-body">
        <p>Description</p>
        <small>Joined <span>15.15.15</span></small>
        <div class="mt-2">
          <button class="btn btn-outline-primary follow">Folow</button>
        </div>
      </div>
      <!-- Profile icons -->
      <div class="card-body icons">
        <div>
          <p><span>123456</span> <small>Following</small></p>
        </div>
        <div>
          <p><span>123456</span> <small>Followers</small></p>
        </div>
      </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

  <script>
    const dbFollowBool = ''
    let followBool = false ?? dbFollowBool;
    document.querySelector(".follow").addEventListener("click", function(e) {
      if (!followBool) {
        this.innerHTML = "Followed"
        followBool = true
      } else {
        this.innerHTML = "Follow"
        followBool = false
      }
      followQuery(followBool);
    });

    function followQuery(bool) {
      
    }
  </script>
</html>